@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-weight: 400;
	font-family: "Barlow", sans-serif;
}

h1,
button,
span,
li {
	font-family: "Barlow Condensed", sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
}
